.theme-toggle-button {
  position: absolute;
  background: none;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  cursor: pointer;
}
.theme-toggle-button img {
  width: 45px;
  height: 45px;
}
.theme-toggle-button:focus {
  outline: 0.00001px solid #cecece;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .theme-toggle-button {
    grid-column: 3;
    justify-self: end;
    position: static;
    transform: none;
    margin-left: 0.5rem;
    flex-shrink: 0;
    padding-right: 10px;
  }

  .theme-toggle-button img {
    width: 32px;
    height: 32px;
  }
}