.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-me-summary {
  width: 900px;
  font-size: 1.7rem;
  font-weight: 550;
  height: auto;
  display: flex;
  color: var(--text-color);
  -webkit-text-stroke: 0.1px rgb(58, 57, 57);
}

.about-me-image {
  width: 600px;
  height: auto;
  display: flex;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .about-me-section {
    align-items: flex-start;
  }

  .about-me-summary {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 600;
    flex-wrap: wrap;
    text-align: start;
  }

  .about-me-image {
    display: none;
  }
}