#contact {
  width: 100%;
  min-height: 28vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 300px;
}


#contact h1 {
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  gap: 20px;
}

.contact-icons a {
  font-size: 3rem;
  color: var(--btn-bg);
  transition: transform 0.2s ease;
}

.contact-icons a:hover {
  transform: scale(1.15);
  color: var(--cool-char-color);
  transition: color 0.25s ease-out;
}