
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 2rem;

  padding: 1.5rem 0;

  background-color: var(--navbar-bg-color);
  backdrop-filter: blur(40px);

  z-index: 1000;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.navbar a {
  color: var(--text-color);
  font-weight: 700;
  -webkit-text-stroke: 0.1px rgb(58, 57, 57);
}