#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

/* light theme */
[color-theme="light"] {
  --bg-color: rgb(120, 222, 164);
  --text-color: #0f3f3c;
  --btn-bg: #007bff;
  --btn-hover: #010390;
  --cool-char-color: rgb(154, 26, 145);
  --cool-char-hover-color: rgb(227, 231, 10);
  --hero-name-gradient-color-2: #ea7425;
  --hero-name-gradient-color-1: #3836b6;
  --navbar-bg-color: rgba(171, 200, 76, 0.3);
  --footer-color: rgb(0,0,0);
  --project-card-bg: rgb(153, 168, 220);
}

/* dark theme */
[color-theme="dark"] {
  --bg-color: #333333;
  --text-color: rgb(251, 243, 207);
  --btn-bg: #bb86fc;
  --btn-hover: #7540ca;
  --cool-char-color: #44f464;
  --cool-char-hover-color: #f55ad6;
  --hero-name-gradient-color-1: #58f074;
  --hero-name-gradient-color-2: #f5811b;
  --navbar-bg-color: rgba(77, 50, 96, 0.3);
  --footer-color: rgb(164, 163, 163);
  --project-card-bg: #3f6d6c;
}

section {
  scroll-margin-top: 90px;
  min-height: 100vh;
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1 {
  text-align: center;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  transition: background 0.8s ease, color 0.8s ease;
}

.container {
  /* text-align: center; */
  padding: 2rem;
}

.button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: var(--btn-bg);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 1s ease-out;
}
.btn:hover {
  background-color: var(--btn-hover);
}